@model IEnumerable<Tienda_compu.Models.Categoria>

@{
    ViewBag.Title = "Index";
}
<head>
    @Styles.Render("~/Content/Estilos.css")
    @Styles.Render("~/Content/StyleSheet.css")
    @Styles.Render("~/Content/redes.css")
    @Styles.Render("~/Content/peeling.css")
    @Styles.Render("~/Content/paso.css")
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css">
    <link rel="stylesheet" href="~/Content/Estilos.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


</head>
<header>
    <div id="header">

        <div id="box">

            <canvas id="kenburns"></canvas>
            <script type="text/javascript" src="~/Scripts/fade.js"></script>
        </div>

        <h1>Bienvenidos a la Tienda de Computadoras</h1>
    </div>
    <div id="page"></div>
    <!--MENU-->
    <nav role='navigation'>
        <ul id="menu">
            <li><a href="Index.cshtml"><span class="color1"><i class="fa fa-home"></i></span>Inicio</a></li>
            <li><a href="#"><span class="color2"><i class="fa fa-file-text"></i></span>Articulos</a></li>
            <li class="list">
                <a href="#"><span class=""><i class="fa fa-tag"></i></span>Categorias</a>
                <ul id="submenu">
                    <li><a href="#"> <span class="color7"><i class="fa fa-windows"></i></span>Prueba</a></li>

                </ul>
            </li>
            <li><a href="#"><span class="color3"><i class="fa fa-link"></i></span>Enlaces</a></li>
            <li><a href="Views/Home/Contact.cshtml"><span class="color4"><i class="fa fa-envelope"></i></span>Contacto</a></li>
            <li><a href="#"><span class="color5"><i class="fa fa-file"></i></span>Aviso Legal</a></li>
        </ul>
    </nav>
</header>
<body>

   

    <div id="content">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>

        <!-- The Timeline -->

        <ul class="timeline">

            <!-- Item 1 -->
            <li>
                <div class="direction-r">
                    <div class="flag-wrapper">
                        <span class="flag">HAZ UN PLANITO Y VEN A VERNOS</span>
                        <span class="time-wrapper"><span class="time">PASO 1</span></span>
                    </div>
                    <div class="desc">
                        Si estás pensando en reformar cada uno de tus equipos eléctrónicos no dudes más adquieros aqui.
                        <img src='http://us.123rf.com/450wm/bimxd/bimxd1502/bimxd150200011/36806606-vector-dise-o-plano-para-ir-de-compras-en-el-m-vil-o-las-compras-en-l-nea-a-trav-s-de-la-aplicaci-n-.jpg?ver=6' /><br />
                        Si te traes también unas fotos con el móvil, mejor que mejor. Si lo prefieres podemos revisar el modelo y proporcionartelo.
                    </div>
                </div>
            </li>

            <!-- Item 2 -->
            <li>
                <div class="direction-l">
                    <div class="flag-wrapper">
                        <span class="flag">MIRA NUESTRAS CATEGORIAS</span>
                        <span class="time-wrapper"><span class="time">PASO 2</span></span>
                    </div>
                    <div class="desc">Aquí encontrarás de todo, mira cada categoría para darte noción de todo lo que ofrecemos</div>
                </div>
            </li>

            <!-- Item 3 -->
            <li>
                <div class="direction-r">
                    <div class="flag-wrapper">
                        <span class="flag">ELIGE TODOS LOS PRODUCTOS QUE DESEES</span>
                        <span class="time-wrapper"><span class="time">PASO 3</span></span>
                    </div>
                    <div class="desc">Todo está a tu alcance</div>
                </div>
            </li>


            <!-- Item 4 -->
            <li>
                <div class="direction-l">
                    <div class="flag-wrapper">
                        <span class="flag">TE DAREMOS LOS PRODRUCTOS PRONTO</span>
                        <span class="time-wrapper"><span class="time">PASO 4</span></span>
                    </div>
                    <div class="desc">No te preocupes por el tiempo en que recibirás los productos, aquí todo es rápido.</div>
                </div>
            </li>

        </ul>


        <h2>Realiza....</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>


    </div>
</body>
<footer></footer>
<a href='http://facebook.com/Username' rel='nofollow' target='_blank'>
    <div class='social facebook'>
        <span class='social-facebook'>Facebook</span>
    </div>
</a>
<a href='http://twitter.com/Username' rel='nofollow' target='_blank'>
    <div class='social twitter'>
        <span class='social-twitter'>Twitter</span>
    </div>
</a>
<a href='http://plus.google.com/Username' rel='nofollow' target='_blank'>
    <div class='social gplus'>
        <span class='social-gplus'>Google+</span>
    </div>
</a>
